{% extends 'base.html' %}
{% load static %}
{% block content %}
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/team-logo.png' %}" alt="Logo" width="30" height="24" class="d-inline-block align-text-top h-50" />
        {{ name }}'s Profile Page
      </a>
      <a href="{% url 'common:logout' %}"><button type="button" class="btn btn-light float-right" style="background-color:#3b7197; color:white; border-color: #3b7197; font-weight: bold;">Logout</button></a>
    </div>
  </nav>
{% endblock %}
