{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="card mt-4 mx-3" style="width: 18rem;">
    <!-- <img src="/media/{{ img_path }}" class="card-img-top" alt="Profile Image"> -->
    
    <div class="card-body">
        <h5 class="card-title">Username: {{name.0}}</h5>
    </div>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">🚚 Orders: 40</li>
      <li class="list-group-item">🗯️ Posts: 30</li>
      <li class="list-group-item">📋 Tasks Done: 15</li>
    </ul>

    <div class="card-body">
      <button class="btn btn-primary">Send Message</button>
    </div>

</div>

{% endblock %}