<div class="container">
    <h4 align="center" style="margin-top: 10px;">Technicians</h4>
    <table class="table">
        <thead>
            <tr scope="col" align="center">
                <th>ID</th>
                <th>Technician Name</th>
                <th>Age</th>
                <th>Salary</th>
                <th>Doctor</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for tech in viewed %}
            <tr scope="row" align="center">
                <td>{{tech.0}}</td>
                <td>{{tech.1}} {{tech.2}}</td>
                <td>{{tech.3}}</td>
                <td>{{tech.4}}</td>
                <td>{{tech.5}} {{tech.6}}</td>
                <td>
                    <a href="{%  url 'edit_tech' tech.0 %}" class="link-dark"><i class="fa-solid fa-pen-to-square fs-5 me-3"></i></a>
                    <a href="{% url 'rmv_tech' tech.0 %}" class="link-dark"><i class="fa-solid fa-trash fs-5"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>