<div class="container">
    <h4 align="center" style="margin-top: 10px;">Nurses</h4>
    <table class="table">
        <thead>
            <tr scope="col" align="center">
                <th>ID</th>
                <th>Nurse Name</th>
                <th>Age</th>
                <th>Specialization</th>
                <th>Salary</th>
                <th>Doctor</th>
                <th>Modify</th>
            </tr>
        </thead>
        <tbody>
            {% for nur in viewed %}
            <tr scope="row" align="center">
                <td>{{nur.0}}</td>
                <td>{{nur.1}} {{nur.2}}</td>
                <td>{{nur.3}}</td>
                <td>{{nur.5}}</td>
                <td>{{nur.4}}</td>
                <td>{{nur.6}} {{nur.7}}</td>
                <td>
                    <a href="{%  url 'edit_nur' nur.0 %}" class="link-dark"><i class="fa-solid fa-pen-to-square fs-5 me-3"></i></a>
                    <a href="{% url 'rmv_nur' nur.0 %}" class="link-dark"><i class="fa-solid fa-trash fs-5"></i></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>