{% include 'doctorprofile/navbar.html' with doctor_id=doctor_id %}
    <div class="container">
        <div class="card my-4">
            <div class="card-header">
                Appointments
            </div>
            <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Date</th>
                                <th>Time</th>
                                <th>Type</th>
                                <th>Room</th>
                                <th>Patient-Name</th>
                                <th></th> <!-- Empty header for the delete button -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for appointment in appointments %}
                                <td>{{ appointment.0 }}</td>     
                                <td>{{ appointment.1 }}</td>
                                <td>{{ appointment.2 }}</td>
                                <td>{{ appointment.3 }}</td>
                                <td>{{ appointment.4 }}</td>
                                <td>{{ appointment.5 }} {{ appointment.6 }}</td>
                                <td><button class="btn btn-danger" onclick="deleteAppointment('{{ appointment.0 }}')">Delete</button></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

            </div>
        </div>
    </div>

    
    <script>
       function deleteAppointment(appointmentId) {
    fetch(`delete_appointment/${appointmentId}/`, {
        method: 'DELETE',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/json'
        }
    })
    .then(response => {
        if (response.ok) {
            document.getElementById(`row_${appointmentId}`).remove();
            window.location.href = 'doctor-page';

        }
    })
    .catch((error) => {
        console.error('Error:', error);
    });
}


    </script>
    

