{% extends 'base.html' %}
{% load static %}

{% block page_title %}
  Edit Info
{% endblock %}

{% block css_style %}
<link rel="stylesheet" href="{% static 'common/login.css' %}" />
{% endblock %}

{% block content %}
<section class="h-100 gradient-form" style="background-color: #eee; min-height: 100vh;">
    <div class="container py-5 h-100">
        <div class="card rounded-3 text-black p-3">
            <div class="card-body p-md-4 mx-md-3 d-flex flex-column align-items-center">
                <div class="text-center">
                    <a href="{% url 'doctorprofile:doctor-page' %}?doctor_id={{ doctor_id }}">
                        <img src="{% static 'images/logo.jpg' %}" style="width: 175px;" alt="logo" />
                    </a>
                </div>
                <h3>MySufferingQL Hospital</h3>
            </div>
            <form action="{% url 'doctorprofile:edit-info' %}" method="POST" enctype='multipart/form-data'>
                {% csrf_token %}
                <div class="custom-row d-flex mb-3">
                  <input type="text" class="form-control me-2" name="fname" placeholder="First Name" value="{{doctor.1}}" aria-label="fname" aria-describedby="basic-addon1">
                  <input type="text" class="form-control" name="lname" placeholder="Last Name" value="{{doctor.2}}" aria-label="lname" aria-describedby="basic-addon1">
                </div>
                <div class="custom-row mb-3">
                  <input type="text" class="form-control" name="email" placeholder="Email" value="{{doctor.5}}" aria-label="email" aria-describedby="basic-addon1">
                </div>
                <div class="custom-row d-flex mb-3">
                  <input type="password" class="form-control me-2" name="password" placeholder="Password" required />
                  <input type="password" class="form-control" name="confirm-password" placeholder="Confirm Password" required />
                </div>
                <div class="custom-row mb-3">
                  <input type="text" class="form-control" name="address" placeholder="Address" value="{{doctor.7}}" required />
                </div>
                <div class="custom-row mb-3">
                  <input type="text" class="form-control" name="phone" placeholder="Phone Number" value="{{doctor.9}}" required />
                </div>
                <div class="mb-3">
                  <label for="formFile" class="form-label">Choose a Profile Image</label>
                  <input class="form-control" type="file" id="formFile" name="img" />
                </div>
                <div class="text-center pt-1 mb-1 pb-1">
                  <input type="submit" class="btn btn-light d-block mx-auto" style="width:100%; color:#3b7197" value="Save Changes">
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}
